* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.formularioCadastro {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.formularioCadastro h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 2px;
    color: #333;
}

input, select {
    margin-bottom: 7px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input::placeholder {
    color: #aaa;
}

select {
    font-size: 14px;
}

button {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #b30000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #920000;
}

.erro {
    font-size: 12px;
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;

}
.mensagem{
  color:green;
  text-align:center;
  margin-top:10px;
}
.textVoltar{
  margin: 15px 0 10px;
  color:darkred;
  font-size: 12px;
}


