<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doadores</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="Logo">
      <img src="link">
  </div>
  <div class="menu">
      <p>Início</p>
      <p>Como Doar</p>
      <p>Locais de Coleta</p>
      <p>Contatos</p>
  </div>
  <div class="formulario">
  <h2>Preencha as informações abaixo para começar a doar sangue!</h2>
  <form action="/agendamento" method="post">
      <label>Nome Completo </label><br>
      <input type="text " id="nome" placeholder="Ex.: Miguel de Sousa"><br><br>

      <label>Idade</label><br>
      <input type="text" id="idade" placeholder="Ex.: 20"><br><br>

      <label>Sexo Biológico</label><br>
      <input type="text" id="sexo" placeholder="Ex.: Masculino"><br><br>

      <label>Tipo Sanguíneo</label><br>
      <input type="text" id="tiposangue"><br><br>

      <label>Fator RH</label><br>
      <input type="text" id="fatorrh"><br><br>

      <label>E-mail</label><br>
      <input type="email" id="email"><br><br>

      <label>Senha</label><br>
      <input type="text" id="senha"><br><br>

      <label>Confirmar senha</label><br>
      <input type="text" id="senha2"><br><br>
      <br>
      <button type="submit" id="botaoform" name="botaoform">Enviar</button>

  </form>
  </div>

  <h2></h2>








    <footer>
        <p class="id">rodape</p>
    </footer>
  <script src="../static/script.js"></script>
</body>
</html>