<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sangue Solidário</title>
    <link rel="stylesheet" href="..//static//style6.css">
</head>
<body>
<header class="header">
   <div class="logo">
    <img src="../static/imagens/logo.jpeg" alt="logo" class="logo">
  </div>
  <h1 class="nomeSite">Sistema para Controle de Doadores de Sangue</h1>
</header>

<section class="texto1">
  <h2>Requisitos para Doação de Sangue</h2>
  <p>Para ser um doador de sangue, é necessário atender aos seguintes critérios:</p>
  <ul>
    <li>Estar alimentado, evitando alimentos gordurosos nas três horas que antecedem a doação.</li>
    <li>Ter dormido pelo menos seis horas nas últimas 24 horas.</li>
    <li>Ter idade entre 16 e 69 anos, e pesar mais de 50 quilos.</li>
    <li>Apresentar documento oficial com foto.</li>
    <li>Mulheres podem doar até 3 vezes por ano, enquanto homens podem doar até 4 vezes.</li>
    <li>O intervalo mínimo entre doações é de dois meses para homens e três meses para mulheres.</li>
  </ul>
</section>

<section class="texto1">
  <h2>Critérios que Impedem Temporariamente a Doação</h2>
  <p>Algumas condições podem impedir a doação temporariamente, como:</p>
  <ul>
    <li>Febre, gripe ou resfriado: aguardar sete dias após o desaparecimento dos sintomas.</li>
    <li>Dengue: um mês após a cura.</li>
    <li>Gravidez: durante o período gestacional e 90 dias após o parto normal ou 180 dias após cesariana.</li>
    <li>Ingestão de bebidas alcoólicas nas 12 horas que antecedem a doação.</li>
    <li>Tatuagem e/ou piercing nos últimos 12 meses.</li>
  </ul>
</section>

<section class="texto1">
  <h2>Recomendações para o Dia da Doação</h2>
  <ul>
    <li>Não ir em jejum.</li>
    <li>Fazer repouso mínimo de 6 horas na noite anterior.</li>
    <li>Evitar alimentos gordurosos e bebidas alcoólicas nas 12 horas que antecedem a doação.</li>
    <li>Evitar fumar por pelo menos 2 horas antes da doação.</li>
    <li>Interromper atividades como pilotar avião ou dirigir veículos pesados por 12 horas antes da doação.</li>
  </ul>
</section>

<section class="texto1">
  <h2>Intervalos para Doação</h2>
  <p>O intervalo mínimo para doações de sangue é:</p>
  <ul>
    <li>Homens: 60 dias (até 4 doações por ano).</li>
    <li>Mulheres: 90 dias (até 3 doações por ano).</li>
  </ul>
</section>

<section class="texto1">
  <h2>Cuidados Pós-Doação</h2>
  <ul>
    <li>Evitar esforços físicos por pelo menos 12 horas.</li>
    <li>Aumentar a ingestão de líquidos.</li>
    <li>Não fumar por cerca de 2 horas.</li>
    <li>Evitar bebidas alcoólicas por 12 horas.</li>
    <li>Manter o curativo no local da punção por pelo menos 4 horas.</li>
  </ul>
</section>

<section class="texto1">
  <h2>Quem Não Pode Doar?</h2>
  <p>Algumas condições podem impedir a doação de sangue, como:</p>
  <ul>
    <li>Pessoas com diagnóstico de hepatite após os 11 anos de idade.</li>
    <li>Mulheres grávidas ou amamentando.</li>
    <li>Usuários de drogas e pessoas expostas a doenças transmissíveis pelo sangue.</li>
  </ul>
</section>

<section class="texto1">
  <h2>Benefícios para os Doadores</h2>
  <p>Além de salvar vidas, os doadores de sangue podem obter diversos benefícios, como:</p>
  <ul>
    <li>Cobertura de custos de deslocamento até o centro de doação.</li>
    <li>Prioridade em agendamento de exames no SUS.</li>
    <li>Desconto de 50% em ingressos de atividades culturais e de lazer em diversas cidades.</li>
    <li>Isenção de taxas de concursos públicos municipais.</li>
  </ul>
</section>

 <div class="botao">
   <button onclick="window.location.href='/'" class="botaoVoltar">Voltar</button>
  </div>

<footer class="rodape">
  <h2 class="tituloRodape">Contato</h2>
  <p><strong>E-mail:</strong> scdspb@gmail.com.br</p>
  <p><strong>Telefone:</strong> (83) 9 9999-9999</p>
  <p><strong>Facebook:</strong> @scdspb</p>
</footer>


</body>
</html>