<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sangue Solidário - Doadores</title>
    <link rel="stylesheet" href="..//static//style7.css">
</head>
<body>
<header class="header">
  <div class="logo">
    <img src="../static/imagens/logo.jpeg" alt="logo" class="logo">
  </div>
  <h1 class="nomeSite">Sistema para Controle de Doadores de Sangue</h1>
  <a href="/login" class="loginbotao">Login</a>
</header>

<section class="banner">
  <img src="../static/imagens/banner.jpeg" class="bannerDoacao">
</section>

<section class="texto1">
  <h2>Doe Sangue</h2>
  <p>
    A cada doação, você tem o poder de transformar vidas. Seu gesto de
    Solidariedade pode ser o que falta para garantir a saúde e a esperança de alguém. Doar sangue é simples, seguro e rápido, mas o impacto é imenso.
  </p>
  <p>
    Junte-se a nós nessa corrente de amor ao próximo. Faça sua parte, agende sua doação e ajude a manter os estoques abastecidos. A vida de alguém pode depender de você!
  </p>
  <p>Doe sangue hoje. O mundo precisa do seu melhor. </p>
</section>

<div class="icone">
  <img src="../static/imagens/icone.jpeg" alt="Ícone de doação" class="doacao-icon">
</div>

<section class="doacao">
  <h2 class="doacao-titulo">Seja agora um doador de sangue</h2>
  <p class="doacao-text">
    Ato solidário, a doação de sangue é um gesto simples e altruísta que pode salvar até quatro vidas em poucos minutos. A ação, que exige reabastecimento constante para suprir as demandas, recolhe <strong>450ml de sangue</strong> por doador e representa uma fração de esperança para aquele que recebe.
  </p>
  <button onclick="window.location.href='/login'" class="botao">Doar ➔</button>
</section>

<section class="localizacao">
  <h3 class="doacao-subtitle">Deseja saber mais sobre o ato de doar sangue?</h3>
  <div class="lista">
    <ul class="doacao-list">
      <li>Requisitos para doar de forma saudável</li>
      <li>Critérios que impedem temporariamente o ato de doação</li>
      <li>Recomendações para quando for doar</li>
      <li>Benefícios</li>
    </ul>
  </div>
  <div class="botao2c">
    <button onclick="window.location.href='/info'" class="botao2">Informações ➔</button>
  </div>
</section>
<footer class="rodape">
  <h2 class="tituloRodape">Contato</h2>
  <p><strong>E-mail:</strong> scdspb@gmail.com.br</p>
  <p><strong>Telefone:</strong> (83) 99999-9999</p>
  <p><strong>Facebook:</strong> @scdspb</p>
</footer>



  <script src="..//static//script7.js"></script>
 </body>
</html>

