<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sangue Solidário - Doadores</title>
    <link rel="stylesheet" href="..//static//style7.css">

</head>
 <body>
 <div class="doadores">
  <h2>Lista de Doadores Logados</h2>

    {% if lista %}
        <ul>
            {% for usuario in lista %}
            <li>{{ usuario[0] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum doador logado no momento.</p>
    {% endif %}
 </div>


   <a href="/voltar">Voltar</a>
  <script src="..//static//script7.js"></script>
 </body>
</html>

